<button (click)="getRandomActivityClick()">Get Random Activity</button>

<div *ngIf="randomActivity.activity !== ''">
  {{randomActivity | json}}
</div>

<div>
  {{randomActivity.activity}}
</div>

<hr>

<mat-form-field>
  <mat-label>Select Activity Type</mat-label>
  <mat-select [(value)]="selectedActivityType">
    <mat-option *ngFor="let opt of activityTypeList" [value]="opt">
      {{opt}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button (click)="getActivityByTypeClick()">Get Activity by Type</button>

<div *ngIf="activityByType.activity !== ''">
  {{activityByType | json}}
</div>

<hr>

<mat-form-field>
  <input matInput placeholder="Number of Participants" type="number" [(ngModel)]="participantCount">
</mat-form-field>

<button (click)="getActivityByParticipantCountClick()">Get Activity by Participant Count</button>

<div *ngIf="activityByParticipantCount.activity !== ''">
  {{activityByParticipantCount | json}}
</div>

<hr>

<mat-form-field>
  <mat-label>Enter a Number (0-1)</mat-label>
  <input matInput placeholder="Price" type="number" min="0" max="1" [(ngModel)]="price">
</mat-form-field>

<mat-slider
  class="example-margin"
  [disabled]="false"
  [max]="1"
  [min]="0"
  [step]="0.1">
  <input matSliderThumb [(ngModel)]="price">
</mat-slider>

<button (click)="getActivityByPriceClick()">Get Activity by Price</button>

<div *ngIf="activityByPrice.activity !== ''">
  {{activityByPrice | json}}
</div>

<mat-form-field>
  <mat-label>Enter a Number (0-1)</mat-label>
  <input matInput placeholder="minPrice" type="number" min="0" max="1" [(ngModel)]="minPrice">
</mat-form-field>

<mat-form-field>
  <mat-label>Enter a Number (0-1)</mat-label>
  <input matInput placeholder="maxPrice" type="number" min="0" max="1" [(ngModel)]="maxPrice">
</mat-form-field>

<mat-slider
  class="example-margin"
  [disabled]="false"
  [max]="1"
  [min]="0"
  [step]="0.1">
  <input matSliderStartThumb [(ngModel)]="minPrice">
  <input matSliderEndThumb [(ngModel)]="maxPrice">
</mat-slider>

<button (click)="getActivityByPriceRangeClick()">Get Activity by Price Range</button>

<div *ngIf="activityByPriceRange.activity !== ''">
  {{activityByPriceRange | json}}
</div>
